# Ignore all javaScript files ending in .js


# Ignore environment files
*.environment

# ignore all .a files
*.a
# but do track lib.a, even though you're ignoring .a files above
!lib.a
# only ignore the TODO file in the current directory, not subdir/TODO

# ignore all files in any directory named build
build/
# ignore notes.txt
*.txt
# ignore all .pdf files in the doc/ directory and any of its subdirectories
bankistApp/**/*.pdfscript.js 
